.Rproj.user
.Rhistory
.RData
.Ruserdata
COVID-19-in-Newfoundland-and-Labrador.html
covid_forecast_newfoundland.csv
.positai
COVID-19 in Newfoundland and Labrador.html
COVID-19 in Newfoundland and Labrador_files
COVID-19-in-Newfoundland-and-Labrador_files
